

.article-container {
    
    display: flex;

    min-height: calc(100vh - 6rem);
    max-width: 100vw;

    font-family: Lato, Helvetica, sans-serif;

    padding: 8vh 10vw 8vh;

    background-color: #efefef;
    color: #060c37;
    
}


.article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 1rem;

    padding: 1rem;

    border: 1px solid blue;
    
}