
/* ==========   HEADER COMPONENT  ========== */
header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    height: 3rem;
    background-color: #060c37;
    color: #dddddd;
    padding: 0 3rem;
}

header > div {
    display: flex;
}
header > div:nth-child(1) {
    width: 20%;
    justify-content: flex-start;
}
header > div:nth-child(2) {
    width: 60%;
    justify-content: center;
}
header > div:nth-child(3) {
    width: 20%;
    justify-content: flex-end;
}


/* ==========   PLANET IMAGE  ========== */
.logo-invert {
    height: 2rem;
    filter: invert(100%);
}

/* ==========   NAVIGATION BAR  ========== */
.nav-links {
    display: flex;
    flex-direction: row;

    list-style: none;
    margin: 0;
}

.nav-links > li,
.nav-links.auth-links > li {
    display: flex; 
    align-items: center;
}

.nav-links > li {
    font-size: 1.6rem;
    margin: 0;
    padding-left: 2rem;
}
.nav-links.auth-links > li {
    padding-left: 0.5rem;
}
.nav-links.auth-links li:nth-child(2):hover > a {
    color: #dddddd;
}

.nav-links a {
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
}
.nav-links.auth-links a {
    font-size: 1rem;
}
.nav-links a:hover {
    color: #4e9cd1;
}

